* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: url('../assets/img/folhas\ rabiscos.png');
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
  background: #fcf7f1;
  border-bottom: 2.5px solid #145a3b;

}

.main-header nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
  cursor: pointer;
  transition: 0.5s ease;
}

.main-header nav a {
  text-decoration: none;
  color: #da5828; 
  font-size: 25px;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

.main-header nav a.active {
  font-weight: bold;
  text-decoration: underline;
  color: #b74b4b;
  border-bottom: 3px solid #b74b4b;
}

nav a:hover,
  nav a.atividades {
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #b74b4b;
  }


.icones img {
  width: 35px;
  margin-left: 12px;
}

.patrocinadores {
  background-color: #e6ede6;
  padding: 40px 80px;
}

.patrocinadores h1 {
  font-size: 60px;
  color: #145a3b;
  margin-bottom: 20px;
}

.patrocinadores p {
  font-size: 21px;
  color: #4a4a4a;
  max-width: 600px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.buton {
  background-color: #145a3b;
  color: white;
  font-size: 20px;
  border: none;
  padding: 15px 25px;
  border-radius: 28px;
  cursor: pointer;
  font-weight: bold;
  font-size: 23px;
  display: inline-block;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease;
  transform-origin: center;
}

.buton:hover {
  background-color: #0f472d;
  transform: scale(1.1);
  box-shadow: #145a3b;
}

.buton:active {
  transform: scale(0.97);
}

.logos_container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 75px;
  justify-content: center;
  max-width: 200px;
  margin: 0 auto;
  padding: 100px;
  perspective: 1000px;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease;
  transform-origin: center;
}

.logos_parceiros {
  background-color: #fcf7f1;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  padding: 24px;
  text-decoration: none;
}

.logos_parceiros img {
  background-color: #fcf7f1;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  max-height: 160px;
  height: auto;
  object-fit: contain;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease;
  transform-origin: center;
}

.logos-parceiros:hover {
 transform: scale(0.97);
}

.logos-parceiros:hover img {
   transition:
    transform 0.3s ease,
    background-color 0.3s ease,
    box-shadow 0.3s linear;
  transform-origin: center;
}



.main-footer {
  background: url('../assets/img/folhas1.jpeg') repeat center center;
  background-size: cover;
  padding: 50px 80px;
  color: #145a3b;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.3);
  padding: 30px;
  border-radius: 15px;
}

.footer-links {
  display: flex;
  gap: 40px;
}

.column h4 {
  margin-bottom: 15px;
  font-size: 14px;
}

.column p {
  font-size: 12px;
  margin-bottom: 8px;
}
